<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SendPDFDocs.aspx.cs" Inherits="SendPDFDocs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Bakery :: Send Pdf</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <p align="center">&nbsp;</p>
    <p align="center">
    <font size="2" face="Verdana">        
        <asp:Label ID="lblMsg" runat="server" />
    </font>
    </p>    
    <p align="center">&nbsp;</p>  
    <p align="center">&nbsp;</p>     
    </div>
    </form>
</body>
</html>
