.headtext {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px; 
	COLOR:#3F3E3E; 
	FONT-FAMILY: Arial, Verdana;
}

.headtext A{
	COLOR:#0950BB;
	text-decoration:none;
}

.headtext A:hover{
	COLOR:#0E72CC; 
}

.errortext{
	FONT-SIZE: 12px; 
	COLOR:#FF0000; 
	FONT-FAMILY: Verdana,Arial;
	line-height:15px;
	FONT-WEIGHT: bold;
}
.breadcrumb {
	FONT-SIZE: 13px; 
	COLOR:#77777F; 
	FONT-FAMILY: Arial, Verdana;
	line-height:26px;
	background-color:#F2F3F5;
	margin-left:10px;
}
.breadcrumb A{
	COLOR:#0950BB;
	text-decoration:none;
}
.breadcrumb A:hover{
	COLOR: #74A0DB;
	text-decoration:none
}

.tableborder {
	background-color:#9E9E9E;
}

.pagehead {
	FONT-SIZE: 12px; 
	COLOR:#171717; 
	FONT-FAMILY: Arial, Verdana;
	background-color:#FFFFFF;
	line-height:24px;
}
.pagehead A{
	COLOR:#0B4785;
	text-decoration:none;
}
.pagehead A:hover{
	COLOR: #4A87C6;
	text-decoration:none
}


.tablehead {
	FONT-SIZE: 11px; 
	COLOR:#171717; 
	FONT-FAMILY: Verdana,Arial;
	background-color:#CECFCE;
	line-height:20px;
}
.tablehead A{
	COLOR:#0B4785;
	text-decoration:none;
}
.tablehead A:hover{
	COLOR: #4A87C6;
	text-decoration:none
}


.tablerow {
	FONT-SIZE: 12px; 
	COLOR:#000000; 
	FONT-FAMILY: Verdana, Arial;
	background-color:#EFF2EF;
	line-height:20px;
}
.tablerow A{
	COLOR:#0B4785;
	text-decoration:none;
}
.tablerow A:hover{
	COLOR: #4A87C6;
	text-decoration:none
}

.tablealtrow {
	FONT-SIZE: 12px; 
	COLOR:#000000; 
	FONT-FAMILY: Verdana, Arial;
	background-color:#F9F9F9;
	line-height:20px;
}
.tablealtrow A{
	COLOR:#0B4785;
	text-decoration:none;
}
.tablealtrow A:hover{
	COLOR: #4A87C6;
	text-decoration:none
}